[Auth]
user =
password =

[Network]
server_ip = http://10.20.4.12

[Cameras]
8 = 3483648
9 = 3483904
10 = 3484160
11 = 3484416
12 = 3484672
13 = 3484928
14 = 3485184
15 = 3485440

[Settings]
timelapse_multiplier = 10
compression_level = medium
timezone = US/Eastern
crop_dimensions = 
thickness = 2

[Runtime]
door_number = 8
filename = test-video
date = 2/6
start_time = 6:30pm
end_time = 6:35pm