[Auth]
user =
password =

[Network]
ch = http://10.20.4.12
home_server = http://127.0.0.1

[Cameras]
8 = 3483648
9 = 3483904
10 = 3484160
11 = 3484416
12 = 3484672
13 = 3484928
14 = 3485184
15 = 3485440
home_camera = 1111111

[Settings]
timelapse_multiplier = 10
compression_level = medium
timezone = US/Eastern
crop_dimensions = 
font_weight = 2
caption =

[Runtime]
server = ch
camera_alias = 8
filename = test-video
date = 2/6
start_time = 6:30pm
end_time = 6:35pm